{% extends 'cliente/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
      {% comment %} <img src="{% static 'core/img/logoSOMDIABETES.jpeg' %}"
      class="img-responsive" style="max-width: 200px;"> {% endcomment %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <br><br>
            
            <h2>
                  Sistema On-line de Monitoramento da Diabetes
            <h2>
            <br>
            <br> 
            

            <h2>Estimado Cliente</h2>
            <h3>Aqui, você poderá gerenciar seus exercícios físicos, alimentação, medicação, dados de glicemia e insulina</h3>
	</center>
{% endif %}

{% endblock %}